@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$body-font: 'Poppins', sans-serif;

.primary {
    background: var(--primary);
}

.secondary {
    background: var(--secondary);
}

.errorRgb {
    background: var(--errorRgb);
}

.error {
    background: var(--error);
}

.successRgb {
    background: var(--successRgb);
}

.success {
    background: var(--success);
}

.informationRgb {
    background: var(--informationRgb);
}

.information {
    background: var(--information);
}

.warningRgb {
    background: var(--warningRgb);
}

.warning {
    background: var(--warning);
}

.white {
    background-color: #fff;
}

.white-text {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    font-weight: 600;
}

button,
input {
    font-family: inherit;
}

.text-center {
    text-align: center;
}

.dual-button {
    display: flex;
    gap: 20px;

    &.justify-content-center {
        justify-content: center;
    }

}