.t-btn {
    padding: 0.3rem 1.3rem;
    outline: 0;
    border: 2px solid var(--primary);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    margin: 10px 0;
    letter-spacing: 0.7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}